
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>s q u a d r o n 3 1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/default.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Play|Poppins|Aldrich" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jura:600" rel="stylesheet">

  </head>
  <body>
    <section class="hero is-medium is-primary is-bold">
      <div id="head-body" class="hero-body">
        <div class="container">
          <div id="wrapper" >
            <h1 class="glitch is-hidden-mobile" data-text="squadron31">squadron31</h1>
            <!-- <span class="sub is-hidden-mobile">EFFECT</span> !-->
            <span class="sub is-hidden-desktop is-hidden-tablet">SQUADRON31</span><br><br>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter has-text-centered">
          <br>
          <div>
            <img src="assets/gfx/wings2.png">
          </div>
          <div>
            <h2 class="slogan">Member, Team, Ops && Sec Stuff, IoT, RE</h2>

            <p>Zaglądamy pod maskę różnym systemom wbudowanym, IoT, głównie opartym o architektórę <br>ARM, MIPS ale nie tylko.</p>

            <br>

            <p class="shadow-green">matt ``monkey`` squadron31 com</p>

            <br>

            <div class="social">
              <a href="#"><img src="assets/gfx/octocat.png"></a>
              <a href="#"><img src="assets/gfx/twitter.png"></a>
            </div>
          </div>

          <hr>
        </div>
      </div>
    </section>
    <section>

      <br>

      <div class="columns">
        <div class="column is-half is-offset-1-mobile is-offset-one-quarter">
          <div class="columns">
            <div class="column">
              <figure class="image is-3by1">
                <img src="assets/gfx/mips.png">
              </figure>
            </div>
            <div class="column is-offset-1-desktop">
              <h3 style="margin-top:0px;">Chcę umieć assembly !!11</h3>
              <p>
                Razem z Portalem <a href="https://sekurak.pl">Sekurak.pl</a> puściliśmy kurs MIPS-a dla początkujących Reverse Magików od podstaw.
                MIPS to fajny, RISCowy assembly, który nie jest wcale taki trudny ;)
              </p>
              <br>
              <p>
                Będziesz musiał mieć trochę czasu, terminal i możesz jechać. Poniżej dostępne lekcje:
              </p>
              <br>
              <p>
                <a href="https://sekurak.pl/jak-sie-w-koncu-zabrac-za-tego-assemblera-czyli-mips-w-kontekscie-bezpieczenstwa/">* Pierwsze środowisko + instrukcje warunkowe</a><br>
                <a href="https://sekurak.pl/jak-sie-w-koncu-zabrac-za-tego-assemblera-czyli-mips-w-kontekscie-bezpieczenstwa/">* MIPS vs MIPSel + pętle</a><br>
                (niedługo kolejne, stay tuned!)
              </p>
            </div>
          </div>
        </div>
      </div>

      <br><hr><br>

    </section>
    <section>
      <div class="columns">
        <div class="column is-half-desktop is-offset-1-mobile is-offset-one-quarter-desktop has-text-centered pubs">

          <br>

          <h4>Ostatnie publikacje:</h4>

          <br>

          {{range .Drafts}}
            <div class="item">
              <p class="title">
                <h1 class="title is-3"><a href="{{.File}}">{{.Title}}</a></h1>
              </p>
              <p class="subtitle silver">@{{.Author}} &nbsp;&#9816;&nbsp; {{.CreatedDate}}</p>
            </div>
          {{end}}

          {{if gt .DraftsCount .DraftsPerPage }}
            <a href="page-1.html" class="button is-primary is-light is-pulled-right">zobacz wszystkie &rarr;</a>
          {{end}}
        </div>
      </div>

      <br><br>

    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <img src="assets/gfx/wings.png" style="width:70px;">
        <br>
        <p>@ 2020 squadron<span class="shadow-green">31</span>.com</p>
      </div>
    </footer>
  </body>
</html>
